.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    .content {
        width: 100%;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            width: 100%;
        }

        .header,
        .banner,
        .about,
        .rules,
        .whatAreNftCoffins {
            margin-bottom: 100px;
        }
    }
}
