.home {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner,
    .about,
    .rules,
    .whatAreNftCoffins,
    .firstToken {
        margin-bottom: 100px;
    }
}
