@import 'client/src/styles/common';

.whatAreNftCoffins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    max-width: 900px;

    .title {
        margin-bottom: 60px;
        @include font(xl, $clr-black, bold);
        text-align: center;
    }

    .points {
        display: flex;
        flex-direction: column;

        .point {
            display: flex;
            flex-direction: column;

            img {
                float: left;

                height: 80px;
                width: 80px;

                margin-right: 36px;
                margin-bottom: 21px
            }

            .descriptionBlock {
                text-align: justify;

                .subtitle {
                    @include font(md, $clr-black, bold);
                    vertical-align: top;
                }

                .description {
                    @include font(xs, $clr-gray);
                    word-break: break-word;
                }
            }

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}
