@import 'client/src/styles/common';

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    max-width: 900px;

    .title {
        margin-bottom: 60px;
        @include font(xl, $clr-black, bold);
    }

    .description {
        @include font(md, $clr-gray);
        text-align: justify;

        p:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
